.main-content {
  margin-left: 220px;
}

.sidebar {
  width: 220px;
}

.menu-head {
  color: #da1113;
  font-size: 11px;
  margin: 10px 8px;
}

.nav-link {
  position: relative;
  padding: 10px 20px;
  color: #2e323c;
  cursor: pointer;
  font-size: 14px;
}

.nav-link.active,
.nav-link:hover {
  color: #da1113;
  background: #f5f6fa;
  .bi {
    color: #da1113;
  }
}

.sidebar-nav .nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #da1113;
}

i {
  color: #2e323c;
}

.color-red {
  color: #da1113;
}

.color-text {
  color: #2e323c;
}

.color-gray {
  color: #aab3c3;
}

.fs-12 {
  font-size: 12px;
}

.fs-20 {
  font-size: 20px;
}

.page-header {
  .page-header__icon {
    padding: 0 20px;
    border-right: 1px solid #e1e5f1;
  }
}

.button-primary {
  background-color: #da1113;
  border-color: #da1113;
  color: #ffffff;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
  background-color: #c20f11;
  border-color: #c20f11;
  color: #ffffff;
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled),
.nav-line-tabs .nav-item.show .nav-link .nav-tabs {
  border-color: #da1113;
  color: #2e323c;
}
